*
{
    padding: 0;
    margin: 0;
}

body
{
    background-image: linear-gradient(100deg, #c0ebe9,#71c9c5);
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
}

header, form
{
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: center;
    
}

header
{
    font-size: 2rem;
    font-weight: bold;
}

form input, form button
{
    padding: 0.5rem;
    background: #FFF;
    font-size: 1.5rem;
    border: none;
}

form button
{
    cursor: pointer;
}

form input
{
    outline: none;

}

form button:hover
{
    background-color: #71c9c5;
    color: #FFF;
    transition: 0.5s;
}

.todo-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.todo-list
{
    list-style: none;
    min-width: 30%;
}

.todo
{
    background-color: #FFF;
    color: black;
    margin: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.todo li
{
    flex: 1;
}

.todo-row
{
    padding: 0.5rem 0.5rem;
}

.completed-btn, .delete-btn
{
    background: #71c9c5;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.completed-btn:hover 
{
    color: black;
    transition: 0.3s;
}

.delete-btn:hover
{
    color: black;
    transition: 0.3s;
}

.fa-trash, .fa-check-square
{
    pointer-events: none;
}

.completed-task
{
    transition: all 0.3s ease;
    text-decoration: line-through;
    opacity: 0.5;
    
}

.deleted-task
{
    transform: translateY(8rem) rotateZ(20deg);
    transition: all 1s ease;
    opacity: 0;
    
}